{% extends "README.md.j2" %}
{% block title %}
## [![DebOps project](http://debops.org/images/debops-small.png)](http://debops.org) {{ role.name }}
{% endblock %}
{% block badges %}
{% if ansigenome_info.travis is defined and ansigenome_info.travis %}[![Travis CI](http://img.shields.io/travis/{{ scm.user + '/' + role.slug }}.svg?style=flat)](http://travis-ci.org/{{ scm.user + '/' + role.slug }}) [![test-suite](http://img.shields.io/badge/test--suite-{{ scm.repo_prefix | replace("-","--") | replace("_","__") + role.name | replace("-","--") | replace("_","__") }}-blue.svg?style=flat)](https://github.com/{{ scm.user }}/test-suite/tree/master/{{ scm.repo_prefix + role.name }}/){% endif %} {% if ansigenome_info.galaxy_id is defined and ansigenome_info.galaxy_id %} [![Ansible Galaxy](http://img.shields.io/badge/galaxy-{{ role.galaxy_name | replace("-","--") | replace("_","__") }}-660198.svg?style=flat)](https://galaxy.ansible.com/detail#/role/{{ ansigenome_info.galaxy_id }}){% endif %}
{% endblock %}
{% block installation %}
### Installation

This role requires at least Ansible{% if galaxy_info.min_ansible_version is defined and galaxy_info.min_ansible_version %} `v{{ galaxy_info.min_ansible_version }}`{% endif %}. To install it, run:

```Shell
ansible-galaxy install {{ role.galaxy_name }}
```

### Documentation

More information about `{{ role.galaxy_name }}` can be found in the
[official {{ role.galaxy_name }} documentation](http://docs.debops.org/en/latest/ansible/roles/{{ role.slug }}/docs/).

{% endblock %}
{% block standalone %}

### Are you using this as a standalone role without DebOps?

You may need to include missing roles from the [DebOps common
playbook](https://github.com/debops/debops-playbooks/blob/master/playbooks/common.yml)
into your playbook.

[Try DebOps now](https://github.com/debops/debops) for a complete solution to run your Debian-based infrastructure.

{% endblock %}
{% block defaults %}
{% endblock %}
{% block facts %}
{% endblock %}
{% block usage %}
{% endblock %}
{% block footer %}
***

This role is part of the [DebOps](http://debops.org/) project. README generated by [ansigenome](https://github.com/nickjj/ansigenome/).
{% endblock %}
